"*":
  "atom-beautify":
    _analyticsUserId: "21580839-a0fe-44f6-96a1-28e2e81b0a61"
    general:
      _analyticsUserId: "dddf97f8-33ae-4614-8c2b-04107d243e7c"
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/bin"
  "autocomplete-erlang":
    elixirPath: "/usr/local/bin"
  "autocomplete-go": {}
  "autocomplete-plus": {}
  "autocomplete-python":
    useKite: false
  autosave:
    enabled: true
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "autocomplete-haskell"
      "haskell-ghc-mod"
      "tree-view"
      "linter"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.1
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "4da6c538-236c-f6aa-82ca-b2a8d82bd5a0"
  "go-plus":
    goPath: "/usr/local/var/go"
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "markdown-preview": {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-buck": {}
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-distraction-free-mode":
      hideToolBar: true
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-python": {}
    "nuclide-swift": {}
    remoteProjectsConfig: []
  "one-dark-ui":
    fontSize: 10
  racer:
    racerBinPath: "/Users/rajatv/.multirust/toolchains/beta/cargo/bin/racer"
    rustSrcPath: "/Users/rajatv/work/private/tryouts/rust/rust/src"
  "tool-bar":
    visible: false
  welcome:
    showOnStartup: false
